<div style="height: 100%; width: 100%;" fxLayout="row" fxLayoutAlign="center center" class="login-wrapper">
    <div>
        <mat-card class="mat-elevation-z0 login-card">
            <mat-card-content>
                <h2>Log in</h2>
                <form>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="userNameOrEmail"
                               name="userNameOrEmail" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="password" type="password"
                               name="password" required>
                    </mat-form-field>
                </form>

                <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">

                    <button (click)="submit('email')" mat-stroked-button color="primary" type="submit">Log in</button>
                    <button (click)="submit('google')" mat-stroked-button type="submit">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <img src="/assets/illustrations/g-logo.png" height="18px" alt="google">
                            <div style="color: #8c8c8c; margin-left: 10px">
                                Sign in with Google
                            </div>
                        </div>
                    </button>
                    <br>
                    <span style="color: #8c8c8c">New to this website?</span>
                    <button routerLink="/auth/register" mat-stroked-button >Register</button>

                </div>
            </mat-card-content>



        </mat-card>
    </div>
</div>
