.mat-toolbar {
    color: black;
    background: white;
    border-bottom: 1px solid #a4cbcf;
}

.buttonFont{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    border-color: #000000;
}
