<div #container style="width: 100%; height: 100%;">

    <div style="position: relative">
        <mat-toolbar color="primary" class="">

            <div *ngIf="view != 'desktop'" style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center">
                <button (click)="drawer.toggle()" mat-icon-button color="accent">
                    <mat-icon>menu</mat-icon>
                </button>

                <div style="color:white; font-size: 20px;">
                    AZUL
                </div>

                <button *ngIf="authenticationService.user!=null" [routerLink]="['/mobile/account']" mat-icon-button
                        color="accent">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <button *ngIf="authenticationService.user==null" [routerLink]="['/auth/login']" mat-icon-button
                        color="accent">
                    <mat-icon>account_circle</mat-icon>
                </button>

            </div>

            <div *ngIf="view == 'desktop'" style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center">

                <div fxHide fxShow.lg style="width: calc((100% - 1250px)/2)">

                </div>

                <div [ngStyle.lg]="{'width':'1250px'}"
                     [ngStyle.md]="{'width':'100%'}"
                     [ngStyle.sm]="{'width':'100%'}"
                     [ngStyle.xs]="{'width':'100%'}"
                     style="height: 100%" fxLayout="row" fxLayoutAlign="space-between center">

                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div style="color:white; font-size: 20px; margin-right: 30px;">
                            AZUL
                        </div>
                        <button mat-button [routerLink]="['/mobile/home']">{{'Home' | translate}}</button>
                        <button mat-button [routerLink]="['/mobile/search']">{{'Search' | translate}}</button>
                        <button mat-button [routerLink]="['/mobile/add-listing']">{{"Add listing" | translate}}</button>
                    </div>


                    <button *ngIf="authenticationService.user!=null" [routerLink]="['/mobile/account']" mat-icon-button
                            color="accent">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <button *ngIf="authenticationService.user==null" [routerLink]="['/auth/login']" mat-icon-button
                            color="accent">
                        <mat-icon>account_circle</mat-icon>
                    </button>

                </div>

                <div fxHide fxShow.lg fxShow.md>
                        <mat-form-field>
                            <mat-select [(value)]="selected" (selectionChange)="onChange($event)">
                                <mat-option value="en">
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <img src="../../assets/brand-logos/america.jpg" alt="English" width="30" height="20" style="margin-right: 10px;">
                                        English
                                    </div>

                                </mat-option>
                                <mat-option value="sq">
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <img src="../../assets/brand-logos/albania.png" alt="Albanian" width="30" height="20" style="margin-right: 10px;">
                                        Albanian
                                    </div>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                </div>




            </div>

        </mat-toolbar>
        <mat-progress-bar *ngIf="loading == true" mode="indeterminate"
                          style="position: absolute; top: 0px; z-index: 10; width: 100%"></mat-progress-bar>
    </div>


    <mat-drawer-container [hasBackdrop]="false" style="height: calc(100% - 45px); width: 100%;">
        <mat-drawer #drawer mode="over" style="background-color: #fafafa; width: 100%;">
            <mat-nav-list style="margin: 8px 16px;">
                <mat-list-item (click)="drawer.close()" [routerLink]="['/mobile/home']" style="font-size: 16px;">
                    <a matLine>Home</a>
                </mat-list-item>
                <mat-list-item (click)="drawer.close()" [routerLink]="['/mobile/search']" style="font-size: 16px;">
                    <a matLine>{{'Search' | translate}}</a>
                </mat-list-item>
                <mat-list-item (click)="drawer.close()" [routerLink]="['/mobile/add-listing']" style="font-size: 16px;">
                    <a matLine>{{"Add listing" | translate}}</a>
                </mat-list-item>
            </mat-nav-list>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="position: absolute;bottom: 0;left: 0;">
                <span style="margin-left:20px;">Select language: </span>
                <mat-form-field style="margin-left: 10px">
                    <mat-select [(value)]="selected" (selectionChange)="onChange($event)">
                        <mat-option value="en">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <img src="../../assets/brand-logos/america.jpg" alt="English" width="30" height="20" style="margin-right: 10px;">
                                English
                            </div>

                        </mat-option>
                        <mat-option value="sq">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <img src="../../assets/brand-logos/albania.png" alt="Albanian" width="30" height="20" style="margin-right: 10px;">
                                Albanian
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-drawer>
        <mat-drawer-content style="height: 100%; width: 100%;">
            <div style="width: 100%; -webkit-overflow-scrolling: touch; height: 100%; overflow-y: auto">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>

</div>

