<div *ngIf="view == 'default'" style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; min-height: 338px">
    <div style="margin: 8px" fxLayout="row" fxLayoutAlign="space-between start">
        <div>
            <div>
                {{listing?.manufacturer}} {{listing?.model}}
            </div>
            <div style="color: #8c8c8c">
                {{listing?.year}}
            </div>
        </div>
        <div style="font-weight: 500; color: #8c8c8c">
            {{listing?.price?.value | currency : 'EUR' : 'symbol' : '1.0-0' }}
        </div>
    </div>
    <div [routerLink]="['/mobile/listing']" [queryParams]="{id: listing?.uuid}"
         style="height: 180px; width: 100%; overflow: hidden; position: relative;">
        <button (click)="$event.stopPropagation(); favourite()" mat-icon-button style="position: absolute; bottom: 0; right: 0">
            <mat-icon *ngIf="listing.favouritedByUser == null; else faved" [color]="'accent'">favorite_border</mat-icon>
            <ng-template #faved>
                <mat-icon *ngIf="listing.favouritedByUser == true" [color]="'accent'">favorite</mat-icon>
            </ng-template>
        </button>
        <img src="{{listing?.images[0]}}"
             style=" height: 100%; width: 100%; object-fit:cover;">
    </div>
    <div [routerLink]="['/mobile/listing']" [queryParams]="{id: listing?.uuid}" style="margin: 8px" fxLayout="row"
         fxLayoutAlign="space-between start">
        {{listing?.title}}
    </div>
    <div style="margin: 8px">
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="row wrap" style="padding: 0 10px; margin-top: 10px; overflow: hidden">
        <p style="margin-top:0" fxFlex="50"><i style="color: #8c8c8c">Kambio:</i>{{listing?.transmission}}</p>
        <p style="margin-top:0" fxFlex="50"><i style="color: #8c8c8c">Karburanti:</i>{{listing?.fuel}}</p>
        <p style="margin-top:0" fxFlex="50"><i style="color: #8c8c8c">Qyteti:</i>{{listing?.city}}</p>
        <p style="margin-top:0" fxFlex="50"><i style="color: #8c8c8c">Regjistrimi:</i>{{listing?.plateRegistration}}</p>
    </div>
</div>

<div *ngIf="view == 'defaultLOADING'" style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; min-height: 338px">
    <div style="margin: 8px" fxLayout="row" fxLayoutAlign="space-between start">
        <div>
            <div style="width: 170px; height: 17px; margin: 1px 0; background-color: #e2e2e2"></div>
            <div style="width: 90px; height: 17px; margin: 1px 0; background-color: #e2e2e2"></div>
        </div>
        <div style="width: 90px; height: 17px; margin: 1px 0; background-color: #e2e2e2"></div>
    </div>

    <div style="height: 180px; width: 100%; overflow: hidden; position: relative;" class="empty"></div>

    <div style="margin: 8px" fxLayout="row"
         fxLayoutAlign="space-between start">
        <div style="width: 100%; height: 17px; margin: 1px 0;" class="empty"></div>
    </div>

    <div style="margin: 8px">
        <mat-divider></mat-divider>
    </div>

    <div fxLayout="row wrap" style="padding: 0 10px; margin-top: 10px">

        <div fxFlex="50">
            <div style="width: 95%; height: 17px; margin: 1px 0; background-color: #e2e2e2"></div>
        </div>
        <div fxFlex="50">
            <div style="width: 95%; height: 17px; margin: 1px 0; background-color: #e2e2e2"></div>
        </div>
        <div fxFlex="50">
            <div style="width: 95%; height: 17px; margin: 1px 0; background-color: #e2e2e2"></div>
        </div>
        <div fxFlex="50">
            <div style="width: 95%; height: 17px; margin: 1px 0; background-color: #e2e2e2"></div>
        </div>

    </div>
</div>


<div *ngIf="view == 'userSubmission'" style="border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; background-color: white">
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="25" style="height: 60px">
            <img src="{{listing?.images[0]}}"
                 style=" height: 60px; width: 100%; object-fit:cover;" [routerLink]="['/mobile/listing']"
                 [queryParams]="{id: listing?.uuid}">
        </div>
        <div fxFlex="50" style="margin: 8px" [routerLink]="['/mobile/listing']" [queryParams]="{id: listing?.uuid}">
            <div style="margin-bottom: 4px;">
                {{listing?.manufacturer}} {{listing?.model}}
            </div>
            <div style="color: #8c8c8c">
                created: {{listing?.created | date}}
            </div>
        </div>
        <div fxLayout="row" fxFlex="25" fxLayoutAlign="space-between center" style="height: 60px">
            <div fxFlex="50">
                <button (click)="deletePost()" mat-icon-button>
                    <mat-icon style="color: #8c8c8c">delete</mat-icon>
                </button>
            </div>
            <div fxFlex="50">
                <button mat-icon-button color="primary"  (click)="editPost()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>

    </div>
</div>

<div *ngIf="view == 'desktop'" style="border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; background-color: white;">
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="35" style="height: 130px">
            <img src="{{listing?.images[0]}}"
                 style=" height: 130px; width: 100%; object-fit:cover;" [routerLink]="['/mobile/listing']"
                 [queryParams]="{id: listing?.uuid}">
        </div>
        <div fxFlex="65" style="margin: 8px" [routerLink]="['/mobile/listing']" [queryParams]="{id: listing?.uuid}">
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <div>
                    <div>
                        {{listing?.title}}

                    </div>
                    <div style="color: #8c8c8c; font-size: 14px; margin-top:4px;">
                        {{listing?.manufacturer}} {{listing?.model}} {{listing?.year}}
                    </div>
                </div>
                <div style="font-weight: 500; color: #8c8c8c">
                    {{listing?.price?.value | currency : 'EUR' : 'symbol' : '1.0-0' }}
                </div>
            </div>
            <div fxLayout="row wrap" style="padding: 0; margin-top: 6px">
                <p style="margin-top:0" fxFlex="50"><i style="color: #8c8c8c">Kambio:</i>{{listing?.transmission}}</p>
                <p style="margin-top:0" fxFlex="50"><i style="color: #8c8c8c">Karburanti:</i>{{listing?.fuel}}</p>
                <p style="margin-top:0" fxFlex="50"><i style="color: #8c8c8c">Qyteti:</i>{{listing?.city}}</p>
                <p style="margin-top:0" fxFlex="50"><i style="color: #8c8c8c">Regjistrimi:</i>{{listing?.plateRegistration}}</p>
            </div>
        </div>
    </div>
</div>