<div style="padding: 8px 16px 16px 16px; height: calc(100% - 24px); overflow-y: auto">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="color: #8c8c8c; height: 40px;">
        <div style="width: 100%">
            Create a new listing
        </div>
    </div>
    <mat-divider style="margin-bottom: 10px"></mat-divider>
    <div *ngIf="finishedUploading == false && authService.user != null">
        <form [formGroup]="createForm" (ngSubmit)="createItem(createForm.value)">
            <div fxLayout="row wrap">
                <div fxFlex="100">
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>
                            <mat-icon>title</mat-icon> &nbsp; Titulli:
                        </mat-label>
                        <input formControlName="title" matInput placeholder="...">
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxLayout="row">
                    <div fxFlex="50" style="padding-right: 5px">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>
                                <mat-icon>money</mat-icon> &nbsp; Cmimi:
                            </mat-label>
                            <input formControlName="price" matInput type="number">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" style="padding-left: 5px">
                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>
                                <mat-icon>attach_money</mat-icon> &nbsp; Valuta
                            </mat-label>
                            <mat-select [formControl]="selectedCurrency" ngDefaultControl formControlName="currency"
                                        placeholder="Valuta">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="searchedCurrency"
                                                           [placeholderLabel]="'Kerko'"
                                                           [noEntriesFoundLabel]="'Ska te dhena'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let curr of filteredCurrency| async" [value]="curr">
                                    {{curr}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>

            </div>

            <div fxLayout="row wrap" style="margin-bottom: 8px;">
                <div fxFlex="100">
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>
                            <mat-icon>format_align_left</mat-icon> &nbsp; Pershkrimi:
                        </mat-label>
                        <textarea matInput placeholder="..." rows="7" formControlName="description"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row wrap">
                <div fxFlex="100">
                    <mat-form-field style="width: 100%" appearance="outline">
                        <mat-label>
                            <mat-icon>build</mat-icon> &nbsp; Prodhuesi:
                        </mat-label>
                        <mat-select ngDefaultControl [formControl]="selectedManufacturer" formControlName="manufacturer"
                                    placeholder="Prodhuesi" (ngModelChange)="filterModelsByBrand($event)">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="searchedManufacturer"
                                                       [placeholderLabel]="'Kerko'"
                                                       [noEntriesFoundLabel]="'Ska te dhena'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let prod of filteredManufacturer | async" [value]="prod">
                                {{prod}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="100">
                    <mat-form-field style="width: 100%" appearance="outline">
                        <mat-label>
                            <mat-icon>merge_type</mat-icon> &nbsp; Modeli:
                        </mat-label>
                        <mat-select ngDefaultControl formControlName="model" placeholder="Modeli"
                                    [disabled]="disableModel">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="searchedModel" [placeholderLabel]="'Kerko'"
                                                       [noEntriesFoundLabel]="'Ska te dhena'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let model of filteredModels| async" [value]="model">
                                {{model}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row wrap">
                <div fxFlex="100">
                    <mat-form-field style="width: 100%" appearance="outline">
                        <mat-label>
                            <mat-icon>directions_car</mat-icon> &nbsp; Struktura:
                        </mat-label>
                        <mat-select ngDefaultControl formControlName="structure" placeholder="Struktura">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="searchedStructure" [placeholderLabel]="'Kerko'"
                                                       [noEntriesFoundLabel]="'Ska te dhena'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let type of filteredCarTypes| async" [value]="type.name">
                                <img style="width: 90px; height: 40px;" src="{{type.imageURL}}" alt="{{type.title}}">
                                &nbsp;&nbsp;{{type.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="100">
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>
                            <mat-icon>calendar_today</mat-icon> &nbsp;Viti:
                        </mat-label>
                        <mat-select ngDefaultControl formControlName="year" placeholder="viti">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="searchedYear" [placeholderLabel]="'Kerko'"
                                                       [noEntriesFoundLabel]="'Ska te dhena'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let year of filteredYears| async" [value]="year">
                                {{year}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap">
                <div fxFlex="100">
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>
                            <mat-icon>invert_colors</mat-icon> &nbsp; Ngjyra:
                        </mat-label>
                        <mat-select ngDefaultControl formControlName="color" placeholder="viti">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="searchedColor" [placeholderLabel]="'Kerko'"
                                                       [noEntriesFoundLabel]="'Ska te dhena'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let color of filteredColors| async" [value]="color">
                                {{color}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="100">
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>
                            <mat-icon>timeline</mat-icon> &nbsp;Kilometrat:
                        </mat-label>
                        <mat-select ngDefaultControl formControlName="mileage" placeholder="Kilometrat">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="searchedMileage" [placeholderLabel]="'Kerko'"
                                                       [noEntriesFoundLabel]="'Ska te dhena'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let km of  filteredKilometers| async" [value]="km.value">
                                {{km.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row wrap">
                <div fxFlex="100">
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>
                            <mat-icon>commute</mat-icon> &nbsp;Kambio:
                        </mat-label>
                        <mat-select formControlName="transmission">
                            <mat-option [value]="'automatic'"> Automatike</mat-option>
                            <mat-option [value]="'manual'"> Manuale</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="100">
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>
                            <mat-icon>category</mat-icon> &nbsp; Karburanti:
                        </mat-label>
                        <mat-select formControlName="fuel">
                            <mat-option [value]="'diesel'"> Nafte</mat-option>
                            <mat-option [value]="'gasoline'"> Benzine</mat-option>
                            <mat-option [value]="'LPG/gasoline'">Gas/Benzine</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row wrap">
                <div fxFlex="100">
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>
                            <mat-icon>style</mat-icon> &nbsp; Targat:
                        </mat-label>
                        <mat-select formControlName="plateRegistration">
                            <mat-option [value]="'foreign'"> E huaj</mat-option>
                            <mat-option [value]="'domestic'"> Shqiptare</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="100">
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>
                            <mat-icon>map</mat-icon> &nbsp;Qyteti:
                        </mat-label>
                        <mat-select ngDefaultControl formControlName="city" placeholder="Qyteti">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="searchedCity" [placeholderLabel]="'Kerko'"
                                                       [noEntriesFoundLabel]="'Ska te dhena'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let city of  filteredCities| async" [value]="city">
                                {{city}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <file-pond #myPond [options]="pondOptions" [files]="uploadedFiles" (oninit)="pondHandleInit()"
                       (onaddfile)="pondHandleAddFile($event)">
            </file-pond>

            <div fxLayout="row">
                <div fxFlexFill fxFlex="100">
                    <button mat-raised-button color="primary" type="submit" style="float:right">Krijo
                        postimin
                    </button>
                </div>
            </div>
            <br>
        </form>
    </div>
    <div *ngIf="finishedUploading == true && authService.user != null" fxLayout="column" style="height: calc(100% - 52px)">

        <div fxFlex="5" fxLayout="row" fxLayoutAlign="center center" style="text-align: center; color: #8c8c8c;">
            Postimi u krijua me sukses!
        </div>
        <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" routerLink="/pages/listings">
                Home
            </button> &nbsp;
            <button mat-stroked-button (click)="resetView()">
                Krijo postim
            </button>
        </div>
        <div fxFlex="85" style="overflow-x: hidden">
            <img src="/assets/illustrations/success.png" alt="success" style="height: 90%; margin: auto; display: block">
        </div>
    </div>

    <div *ngIf="authService.user == null" fxLayout="column" style="height: calc(100% - 52px)">
        <div fxFlex="5" fxLayout="row" fxLayoutAlign="center center" style="text-align: center; color: #8c8c8c;">
            You are not logged in
        </div>
        <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
            <button mat-stroked-button color="primary" routerLink="/auth/login">
                Login
            </button>
        </div>
        <div fxFlex="85" style="overflow-x: hidden">
            <img src="/assets/illustrations/login.png" alt="success" style="height: 90%; margin: auto; display: block">
        </div>
    </div>

</div>