

<div style="padding: 30px 16px 0 16px; background-color: #5400B8;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%); height: 310px;">
    <div style="color: white; font-size: 55px; width: 80%">Welcome to Azul</div>
    <br>
    <div style="color: white; margin-top: 20px">Biggest car market maybe</div>
    <br>

</div>
<div style="padding: 0 16px 0 16px; margin-top: -80px;">
    <button mat-flat-button color="accent" style="width: 100%; height: 52px;">Fire your first search!</button>
    <div style="margin-top: 40px; font-size: 18px; color: rgb(140, 140, 140);">Shop by type</div>

    <div style="color: rgb(140, 140, 140); margin: 16px -16px 0 -16px; padding-left: 16px; display: flex; overflow-x: auto;">
        <div fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/sedan.png" alt="sedan" style="width: 100%;">
            <span>Sedan</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/hatchback.png" alt="hatchback" style="width: 100%;">
            <span>Hatchback</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px;  min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/suv.png" alt="suv" style="width: 100%;">
            <span>SUV</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px;  min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/coupe.png" alt="coupe" style="width: 100%;">
            <span>Coupe</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px;  min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/van.png" alt="van" style="width: 100%;">
            <span>Van</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px;  min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/truck.png" alt="truck" style="width: 100%;">
            <span>Truck</span>
        </div>
        <div style="width: 16px; color: #fbfbfb;">a</div>
    </div>

    <div style="margin-top: 16px; font-size: 18px; color: rgb(140, 140, 140);">Shop by brand</div>

    <div style="color: rgb(140, 140, 140); margin: 16px -16px 0 -16px; padding-left: 16px; display: flex; overflow-x: auto;">
        <div fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/mercedes-benz.png" alt="Mercedes Benz" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Mercedes</span>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/volkswagen.png" alt="Volkswagen" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Volkswagen</span>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/audi.png" alt="Audi" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Audi</span>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/bmw.png" alt="BMW" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">BMW</span>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/toyota.png" alt="Toyota" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Toyota</span>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/fiat.png" alt="Fiat" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Fiat</span>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/ford.png" alt="Ford" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Ford</span>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/smart.png" alt="Smart" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Smart</span>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/hyundai.png" alt="Hyundai" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Hyundai</span>
        </div>

        <div style="width: 16px; color: #fbfbfb;">a</div>

    </div>

    <div style="margin-top: 16px; font-size: 18px; color: rgb(140, 140, 140);">Latest listings</div>

    <div style="margin: 16px -16px 16px -16px; padding-left: 16px; display: flex; overflow-x: auto;">
        <div *ngFor="let listing of latestListings" style="min-width: 210px; margin-right: 10px;">
            <app-list-item [view]="'defaultCONDENSED'" [listing]="listing"></app-list-item>
        </div>
    </div>

</div>