<div style="padding: 130px 16px 0 16px;
    margin-top: -100px;
    background-image: url('/assets/illustrations/background.png');
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    height: auto;">
    <div style="color: white; font-size: 55px; width: 80%">Welcome to Azul</div>
    <br>
    <div style="color: white;">Biggest car market maybe</div>
    <br>
    <button [routerLink]="['/mobile/search']" mat-flat-button color="accent" style="width: 100%; height: 52px;">Fire your first search!</button>
    <br>
    <div style="height: 203px">
        <img style="width: 374px; margin-left: 85px;" src="/assets/illustrations/car.png" alt="car">
    </div>
</div>
<div style="padding: 0 16px 0 16px; margin-top: -30px;">
    <div style="margin-top: 40px; margin-bottom: 8px; font-size: 18px; color: rgb(140, 140, 140);">Shop by type</div>
    <mat-divider></mat-divider>
    <div style="color: rgb(140, 140, 140); margin: 16px -16px 0 -16px; padding-left: 16px; display: flex; overflow-x: auto;">
        <div matRipple fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/sedan.png" alt="sedan" style="width: 100%;">
            <span>Sedan</span>
        </div>
        <div matRipple fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/hatchback.png" alt="hatchback" style="width: 100%;">
            <span>Hatchback</span>
        </div>
        <div matRipple fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px;  min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/suv.png" alt="suv" style="width: 100%;">
            <span>SUV</span>
        </div>
        <div matRipple fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px;  min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/coupe.png" alt="coupe" style="width: 100%;">
            <span>Coupe</span>
        </div>
        <div matRipple fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px;  min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/van.png" alt="van" style="width: 100%;">
            <span>Van</span>
        </div>
        <div matRipple fxLayout="column" fxLayoutAlign="space-between center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px;  min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/car-types/truck.png" alt="truck" style="width: 100%;">
            <span>Truck</span>
        </div>
        <div style="width: 16px; color: #fbfbfb;">a</div>
    </div>

    <div style="margin-top: 24px; margin-bottom: 8px; font-size: 18px; color: rgb(140, 140, 140);">Shop by brand</div>
    <mat-divider></mat-divider>
    <div style="color: rgb(140, 140, 140); margin: 16px -16px 0 -16px; padding-left: 16px; display: flex; overflow-x: auto;">
        <div [routerLink]="['/mobile/search']"
             [queryParams]="{ manufacturer: 'Mercedes-Benz'}"
             matRipple fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/mercedes-benz.png" alt="Mercedes Benz" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Mercedes</span>
        </div>

        <div [routerLink]="['/mobile/search']"
             [queryParams]="{ manufacturer: 'Volkswagen'}"
             matRipple fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/volkswagen.png" alt="Volkswagen" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Volkswagen</span>
        </div>

        <div [routerLink]="['/mobile/search']"
             [queryParams]="{ manufacturer: 'Audi'}"
             matRipple fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/audi.png" alt="Audi" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Audi</span>
        </div>

        <div [routerLink]="['/mobile/search']"
             [queryParams]="{ manufacturer: 'BMW'}"
             matRipple fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/bmw.png" alt="BMW" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">BMW</span>
        </div>

        <div [routerLink]="['/mobile/search']"
             [queryParams]="{ manufacturer: 'Toyota'}"
             matRipple fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/toyota.png" alt="Toyota" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Toyota</span>
        </div>

        <div [routerLink]="['/mobile/search']"
             [queryParams]="{ manufacturer: 'Fiat'}"
             matRipple fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/fiat.png" alt="Fiat" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Fiat</span>
        </div>

        <div [routerLink]="['/mobile/search']"
             [queryParams]="{ manufacturer: 'Ford'}"
             matRipple fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/ford.png" alt="Ford" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Ford</span>
        </div>

        <div [routerLink]="['/mobile/search']"
             [queryParams]="{ manufacturer: 'Smart'}"
             matRipple fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/smart.png" alt="Smart" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Smart</span>
        </div>

        <div [routerLink]="['/mobile/search']"
             [queryParams]="{ manufacturer: 'Hyundai'}"
             matRipple fxLayout="column" fxLayoutAlign="center center"
             style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; background-color: white; height: 100px; min-width: 100px; width: 100px; padding: 10px; margin-right: 10px;">
            <img src="/assets/brand-logos/hyundai.png" alt="Hyundai" style="width: auto; height: 50px;">
            <span style="margin-top: 5px;">Hyundai</span>
        </div>

        <div style="width: 16px; color: #fbfbfb;">a</div>

    </div>

    <div style="margin-top: 24px; margin-bottom: 8px; font-size: 18px; color: rgb(140, 140, 140);">Shop by price</div>
    <mat-divider></mat-divider>

    <div style="margin-top: 24px;
    background-image: url(/assets/illustrations/buy-car.png);
    width: 100%;
    height: 194px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;"></div>
    <div style="border: 1px solid #e0e0e0;
    width: 70%;
    height: 210px;
    margin: -75px auto 0 auto;
    border-radius: 10px;
    background-color: #ffffffe3; ">
        <div matRipple fxLayout="row" fxLayoutAlign="space-between center"
             style="padding-left: 10px; border-bottom: 1px solid #e0e0e0; height: 42px">
            Under $2000
            <button mat-icon-button>
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
        <div matRipple fxLayout="row" fxLayoutAlign="space-between center"
             style="padding-left: 10px; border-bottom: 1px solid #e0e0e0; height: 42px">
            Under 5000
            <button mat-icon-button>
                <mat-icon>che[routerLink]="['/mobile/search']"vron_right</mat-icon>
            </button>
        </div>
        <div matRipple fxLayout="row" fxLayoutAlign="space-between center"
             style="padding-left: 10px; border-bottom: 1px solid #e0e0e0; height: 42px">
            $5000 - $10000
            <button mat-icon-button>
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
        <div matRipple fxLayout="row" fxLayoutAlign="space-between center" style="padding-left: 10px; border-bottom: 1px solid #e0e0e0; height: 42px">
            $10000 - $20000
            <button mat-icon-button>
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
        <div matRipple fxLayout="row" fxLayoutAlign="space-between center" style="padding-left: 10px; height: 42px">
            Over $20000
            <button mat-icon-button>
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>

    <div style="margin-top: 24px; margin-bottom: 8px; font-size: 18px; color: rgb(140, 140, 140);">Latest listings</div>
    <mat-divider></mat-divider>
    <div style="margin: 16px -16px 60px -16px; padding-left: 16px; display: flex; overflow-x: auto;">
        <div *ngFor="let listing of latestListings" style="min-width: 210px; margin-right: 10px;">
            <app-list-item [view]="'defaultCONDENSED'" [listing]="listing"></app-list-item>
        </div>
    </div>

</div>