<cdk-virtual-scroll-viewport #vsViewport [itemSize]="view == 'desktop' ? '140' : view == 'tablet' ? '140' : '340'"
                             style="height: 100%; max-width: 100%">
    <div style="padding: 0 16px 16px 16px; height: 100%;">
        <div fxLayout="row">
            <div fxHide fxShow.lg style="width: calc((100% - 1250px)/2)"></div>

            <div [ngStyle.lg]="{'width':'1250px'}"
                 [ngStyle.md]="{'width':'100%'}"
                 [ngStyle.sm]="{'width':'100%'}"
                 [ngStyle.xs]="{'width':'100%'}">

                <div fxLayout="row" fxLayoutAlign="space-between center" style="color: #8c8c8c; width: 100%;">
                    <div fxLayout="row" fxLayoutAlign="space-between center"
                         style="width: 100%;">
                        <div style="width: calc(100% - 48px); padding-left: 8px;">
                            <ng-container *ngIf="queryOptions.filters == null">
                                Search results
                            </ng-container>
                            <ng-container *ngIf="queryOptions.filters != null">
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let filter of queryOptions.filters | keyvalue"
                                              [selectable]="false" [removable]="true"
                                              (removed)="removeFilter(filter.key)">
                                        <div fxLayout="row" fxLayoutAlign="space-between center">
                                            <mat-icon style="padding-top: 4px; font-size: 18px;">
                                                {{filterIcons[filter.key]}}
                                            </mat-icon>
                                            {{filter.value | displayFilter}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </div>
                                    </mat-chip>
                                </mat-chip-list>
                            </ng-container>
                        </div>
                        <button style="width: 40px" (click)="toggleFilters()" mat-icon-button>
                            <mat-icon style="color: #8c8c8c">tune</mat-icon>
                        </button>
                    </div>
                </div>


                <mat-divider style="margin-bottom: 10px"></mat-divider>

                <div fxLayout="row">

                    <div [ngStyle.md]="{'padding-right':'10px'}"
                         [ngStyle.lg]="{'padding-right':'10px'}"
                         *ngIf="view == 'desktop'" fxFlex.md="40" fxFlex.lg="35" fxFlex.gt="10">


                        <div style="position: sticky; top: 10px;">
                            <!--<div>-->
                            <div fxLayout="row" fxLayoutAlign="space-between center"
                                 style="color: #8c8c8c; margin-bottom: 5px;">
                                <div>
                                    Refine search
                                </div>
                                <button (click)="getAllCars()" color="primary" mat-stroked-button>
                                    search
                                </button>
                            </div>
                            <car-filters (filtersListener)="filtersChanged($event)"
                                         [existingFilters]="queryOptions?.filters"></car-filters>
                        </div>

                    </div>

                    <div fxFlex.xs="100" fxFlex.sm="100"
                         fxFlex.md="60" fxFlex.lg="75" fxFlex.gt="90"
                         *ngIf="!noListings; else noCars">


                        <div fxLayout="row wrap">
                            <div *cdkVirtualFor="let car of listings"
                                 style="margin-bottom: 10px"
                                 fxFlex.xs="100" fxFlex.sm="100"
                                 fxFlex.md="100" fxFlex.lg="100"
                                 [ngStyle.sm]="{'padding':'0 5px'}">
                                <app-list-item [listing]="car" [view]=" view == 'mobile' ? 'default' : 'desktop'"
                                               (outputEvent)="handleItemEvent($event)">
                                </app-list-item>
                            </div>
                        </div>


                        <div fxLayout="row wrap" *ngIf="loading | async">
                            <div style="margin-bottom: 10px"
                                 fxFlex.xs="100" fxFlex.sm="50"
                                 fxFlex.md="100" fxFlex.lg="100"
                                 [ngStyle.sm]="{'padding':'0 5px'}">
                                <app-list-item [view]=" view == 'desktop' ? 'desktopLOADING' : 'defaultLOADING'"
                                               (outputEvent)="handleItemEvent($event)">
                                </app-list-item>
                            </div>
                            <div style="margin-bottom: 10px"
                                 fxFlex.xs="100" fxFlex.sm="50"
                                 fxFlex.md="100" fxFlex.lg="100"
                                 [ngStyle.sm]="{'padding':'0 5px'}">
                                <app-list-item [view]=" view == 'desktop' ? 'desktopLOADING' : 'defaultLOADING'"
                                               (outputEvent)="handleItemEvent($event)">
                                </app-list-item>
                            </div>
                        </div>


                    </div>
                    <ng-template #noCars>
                        <div fxLayout="column" fxLayoutAlign="space-between center" style="width: 100%">

                            <p>Sorry, no results</p>
                            <!--<p>Didn't find what you were looking for?</p>-->
                            <!--<button mat-stroked-button color="primary">create an alert</button>-->
                            <div style="height: 300px;" class="no-results"></div>


                        </div>

                    </ng-template>
                </div>
            </div>

            <div fxHide fxShow.lgstyle="width: calc((100% - 1250px)/2)"></div>
        </div>

    </div>
</cdk-virtual-scroll-viewport>

<ng-template #filters>
    <div fxLayout="row" fxLayoutAlign="space-between center" style="color: #8c8c8c;">
        <div>
            Refine search
        </div>
        <button (click)="fireSearch()" color="primary" mat-stroked-button>
            search
        </button>
    </div>
    <mat-divider style="margin: 10px 0"></mat-divider>
    <car-filters (filtersListener)="filtersChanged($event)" [existingFilters]="queryOptions.filters"></car-filters>
</ng-template>
